{% extends 'base.html.twig' %}

<div class="well research_form">

    <h3>recherche</h3>

    <form method="post" {{ form_enctype(form) }}>

        {{ form_widget(form) }}

        <input type="submit" class="btn btn-primary" />

    </form>

</div>